* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  padding: 0;
  margin: 0;
}

.about-container {
  width: 100%;
  padding: 80px 120px;
}

.text-span {
  font-size: 24px;
}

.bold {
  font-weight: 700;
}

.large {
  font-size: 25px;
}

.secondary {
  color: #6DB847;
}

.header-cover {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-cover > h2 {
  margin-top: 0;
  font-size: 35px;
  font-weight: 600;
}

.feature-header {
  color: #6DB847;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 0;
}

a {
  text-decoration: none !important;
}

a:active {
  text-decoration: none;
  background: none;
}

@media only screen and (max-width: 768px) {
  .about-container {
    padding: 40px 20px;
    font-size: 1em;
  }
  .text-span {
    font-size: 18px;
  }
  .about-text{
    text-align: center;
  }
  .large {
    font-size: 17px;
  }
  .header-cover > h2 {
    font-size: 20px;
    font-weight: 700;
  }
}

.about-top .about-text {
  padding: 20px 0;
  line-height: 2.3rem;
}

.about-top .about-text > br {
  height: 40px;
}

.about-top .about-text .text-span:last-child {
  margin-top: 18px;
}

.features-cover {
  width: 100%;
}

.features-cover .feature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.features-cover .feature .text-cover {
  flex-grow: 1;
  font-size: 20px;
  line-height: 2.3rem;
  padding-left: 100px;
}

.features-cover .feature .text-cover.first {
  padding-right: 100px;
  padding-left: 40px;
}

.features-cover .feature .text-cover .feature-text {
  font-weight: 300;
  margin-top: 8px;
}

.features-cover .feature .feature-img {
  width: 100%;
  height: 100%;
  padding: 0 0 0 20px;
}

.team-parent {
  width: 100%;
  margin: 60px auto;
}

.header-cover{
  width: 100%;
  margin: auto auto;
  text-align: center;
  margin-bottom: 30px;
}

.team-parent .team-cover {
  width: 100%;
  height: 100%;
  margin: auto auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; 
}

.img-cover .round {
  width: 280px;
  height: 280px;
  margin-top: 20px;
  border-radius: 50%;
}


.team-parent .team-cover .img-square .description {
  width: 100%;
  margin: auto auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.team-parent .team-cover .img-square .description .name {
  font-size: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.9);
  margin-top: 10px;
  margin-bottom: 10px;
}

.team-parent .team-cover .img-square .description .position {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}

.features-cover-mobile {
  display: none;
}

.features-cover-mobile .feature-img {
  transform: scale(0.6);
}

.features-cover-mobile .feature-text {
  color: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 816px) {
  .features-cover-mobile {
    display: block;
    text-align: center;
  }
  .about-top .about-text {
    line-height: normal;
    color: rgba(0, 0, 0, 0.7);
  }
  .features-cover {
    display: none;
  }
  .features-cover .feature .text-cover.first {
    font-size: 13px;
    padding: 0;
  }
  .features-cover .feature .feature-img {
    width: 0;
    line-height: 1.8rem;
  }
  .team-parent .header-cover {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .team-parent .team-cover {
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
  }
  
}
