@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css');



*,body{

  font-family: 'Muli', sans-serif;
  margin: 0;
  padding: 0;
	
}

/**************** NAV-HEADER ********************/
.navbar-nav .nav-link{
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
}

.container-xl{
    background: #020D2C; 
    padding: 0 !important;
    height: 68px;
}

.navbar {
    box-shadow: 0px 4px 5px rgba(255, 255, 255, 0.1);
}


.navbar-light .navbar-brand {
    color: #fff;
    position: relative;
    width: 70px;
    height: 36px;
    left: 120px;
    font-family: Arista 2.0;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
}

.navbar-light .navbar-brand:hover {
    color: white;
}

.navbar-light .navbar-nav .active .nav-link {
    border-bottom: 7px solid white;
    border-radius: 5px;
    padding-bottom: 15px;
    color: white;
}

 .navbar-light .navbar-nav .nav-link:focus {
    border-bottom: 7px solid white;
    border-radius: 5px;
    padding-bottom: 15px;
    color: white;
}


.navbar-light .navbar-nav .nav-link {
    color: #fff;
    display: inline;
}

.nav-item {
    padding: .6rem 0 .6rem 1rem;
}

.navbar-light .navbar-nav .nav-link:visited {
    color: white;
    border-bottom: 7px solid white;
    border-radius: 5px;
    padding-bottom: 15px;
}

.navbar-nav {
    text-align: center;  
}

#header {
    background: #020D2C;
    margin-bottom: 40px;
    /* padding-bottom: 100px; */
    /* height: 60px; */
}

.content {
    /* width: 679px; */
    height: 180px;
    left: 30px;
    padding-top: 150px;
    font-weight: normal;
}
.content h2 {
    color: white;
    font-size: 30px;
    line-height: 60px; 
    text-transform: capitalize;
}

.header-span-color {
    color: #6DB847;
    font-weight: bold;
}

.ill {
    padding: 30px 0 100px 100px;
    /* text-align: center; */
}

.ill video {
    max-width: 60vw;
    max-height: 60vh;
}

#btn {
    height: 72px;
    width: 220px;
    margin-top: 30px;
    background-color: white;
    color: black;
    text-align: center;
    font-weight: 800;
    font-size: 25px;
    text-transform: uppercase;
    padding: 0 10px 0 0;
}

.w-100 {
    height: 100vh;
}
.navbar-light .navbar-toggler-icon { 	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }


@media only screen and (max-width: 768px) {
    .navbar-nav.ml-auto {
        background: #020D2C;
    }

    .navbar {
        padding: 8px 0 8px 15px;
        overflow-x: hidden;
    }

    .navbar-toggler {
        padding: 1px 5px;
        font-size: 18px;
        line-height: 0.3;
        margin: 0 30px 0 0;
       
    }

    .navbar-light .navbar-brand {
        left: 10px;
        font-size: 18px;
    }

    .ill {
        padding: 30px 0 0 30px;
    }

    .ill video {
        width: 30vw;
        height: 30vh;
    }

    .content {
        padding-top: 40px;
        left: 10px;
        font-weight: 300;
    }

    .content h2 {
        font-size: 16px;
        line-height: 35px;
        width:120%;
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap !important;
    }

    #btn {
        height: 40px;
        width: 120px;
        margin-top: 10px;
        background-color: white;
        color: black;
        text-align: center;
        font-weight: 800;
        font-size: 12px;
        text-transform: uppercase;
        padding: 0 5px 0 0;
    }

    .w-100 {
        height: 50vh;
    }
}

@media only screen and (max-width: 1024px) {
    .w-100 {
        height: 50vh;
    }
    .content {
        padding-top: 30px;
    }
    .ill {
        padding: 10px 0 0 20px;
    }
    .ill video {
        width: 40vw;
        height: 40vh;
    }

    .navbar-light .navbar-brand {
        left: 10px;
    }
}
/**************** END OF NAV-HEADER ********************/

/**************** WHAT WE DO ********************/

/**************** END OF WHAT WE DO ********************/


/********* PRODUCTS *************/
@media screen and (max-width : 767px){
    
    #products{
    
    padding : 13px 20px 13px 20px;

    text-align : center; 
    background-size : cover;
    
        font-size : 20px;

}
#products h1{
    font-weight: bod;
    font-size: 36px;
    line-height: 39px;
    color: #1F1F1F;
}
.product-section-card{
    border:1px solid rgba(0,0,0,.125);
    height: 200px;
    border-radius : 5px;

   }

.product-section-card p{
    width: 485px;
height: 90px;
font-size: 20px;
line-height: 30px;
text-align: center;
color: #1F1F1F;
opacity: 0.7;
}
#product_1{
     margin-top : 2px;
         
}

#product_2{
     margin-top : 2px;
     box-sizing: border-box;
}

.p_see_all{
    
background: #FFFFFF;
width : 150px;
padding : 7px;

margin-left : 28%;
border: 0.3px solid #9E9E9E;
box-sizing: border-box;
box-shadow: 2px 4px 10px rgba(0, 0, 9, 0.25);
border-radius: 2px;
}

}


@media screen and (min-width : 767px){
    #products{
    
    padding : 13px 20px 13px 20px;

    text-align : center; 
    background-size : cover;
    margin-left : 10%;
    margin-right : 10%;
    font-size : 20px;

}
#products h1{
    font-weight: bold;
    font-size: 36px;
    line-height: 39px;
    color: #1F1F1F;
}
.product-section-card{
    border:1px solid rgba(0,0,0,.125);
    height: 200px;
    border-radius : 5px;

   }

.product-section-card p{
    width: 485px;
height: 90px;
font-size: 20px;
line-height: 30px;
text-align: center;
color: #1F1F1F;
opacity: 0.7;
}
#product_1{
     margin-right : 13%;
         
}

#product_2{
     margin-left : 15%;
     box-sizing: border-box;
}
.see_all_cont{
    position : relative;
    margin-left : 10%;
    margin-right : 10%;
}
.p_see_all{
    position: absolute;
background: #FFFFFF;
width : 150px;
padding : 7px;

margin-left : 42%;
border: 0.3px solid #9E9E9E;
box-sizing: border-box;
box-shadow: 2px 4px 10px rgba(0, 0, 9, 0.25);
border-radius: 2px;
}


}
.portfolio-content{
    position: relative;
    top : 40%;
}
/* OUR COMPANIES */
.companies{
    margin : 0 10%;
}
.company-container{
    border:1px solid rgba(0,0,0,.125);
    height: 200px;
    border-radius : 5px;
    text-align : center;
}
.company-container:hover{
    background-color: #020D2C;
    cursor : pointer;

}

/* footer */

#secondColumn{
    font-size: 14px;
}
.footer-widget-nav {
    position: relative;
     }
#footer h1, h3, h4,h5, h6 {
  color: #303030;
  line-height: 1.3;
  font-weight: 700; }
#footer p {
    color: #707070;
    font-size: 15px;
    line-height: 1.7;
    font-weight: 300; }
#image{
    font-weight: 500;
    color: #26cae7;;
    position: relative;}
.link a{
    text-decoration: none;}
.footer-widget-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
.footer-widget-nav ul li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    list-style: none;
    width: 50%; }
.footer-widget-nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    margin-bottom: 15px;
    font-weight: 400; }
.footer-widget-nav ul li a:focus, .footer-widget-nav ul li a:hover {
    color: #9E9E9E; }
.contact-info {
    position: relative;
    margin-top: 60px;
     }
.contact-info p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
    /* margin-top: 80px; */
    line-height: 1.3; }
.contact-info p i {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    max-width: 30px;
    width: 30px;
    color: grey; }
.contact-info p:last-child {
    margin-bottom: 0; }
.footer-area {
    margin-top : 20px;
    position: relative;
    
    background-color: #ffffff; }
.footer-area .footer-widget {
    position: relative;
    }
.footer-area .footer-widget .widget-title {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
    color: #9E9E9E; }
.footer-area .footer-widget p {
    color: #ffffff;
    margin-bottom: 15px; }    
.footer-social-info {
    position: relative;
    text-align: center;
    z-index: 1; }
.footer-social-info a {
    text-decoration: none;
    /* display: block; */
    /* display: -webkit-box; */
    /* display: -ms-inline-flexbox; */
    /* display: flex; */
    -webkit-box-align: center;
    -ms-flex-align: center;
    /* align-items: center; */
    /* justify-content: center; */
    margin-bottom: 20px; 
    margin-left: 10px;}
.footer-social-info a:last-child {
    margin-bottom: 0; }
    .footer-social-info a i {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 25px;
    text-align: center;
    color: #ffffff;
    border: 1px solid grey;
    font-size: 25px;
    line-height: 40px; }
.footer-social-info a span {
    color: #b7b7b7;
    font-size: 18px;
    display: inline-block;
    /* margin-right: 25px; */
    font-weight: 400; }
.footer-social-info a:focus i, .footer-social-info a:hover i {
    background-color: grey; }
.footer-social-info a:focus span, .footer-social-info a:hover span {
    color: #ffffff; }          
           
            



/* Our Stories */
#our_stories h2{
    padding :15px;
    text-align: center;

}
#the_stories{
padding :40px;
background: #FFFFFF;
border: 1px solid #6DB847;
box-sizing: border-box;
margin-left : 10%;
margin-right : 10%;
}
#the_stories p{
    
    font-weight: 300;
font-size: 17px;
line-height: 36px;
}
@media screen and (min-width : 768px){
/** Innovation Lab **/ 
#innovate #cover{

     width: 100%;
          background-color: black;
     height : 100vh;
     opacity: 0.8;

     }

#innovate .jumbotron{ 
    
    background-image: url('../img/innovation_lab.png');
    background-size: cover;
    height : 100%;
    padding : 0;
    width : 100%;
    height: 100vh;

}

#innovate span{

    color : #6DB847;
}
#innovate h1{
    font-weight: 800;
font-size: 60px;
line-height: 90px;
width : 1000px;
color : white;
}

#innovate p{
    font-weight: 500;
font-size: 34px;
line-height: 50px;
width :1000px;
color : white;
}
#innovate button{
    background: #6DB847;
box-shadow: 0px 0px 50px rgba(0, 0, 9, 0.25);
border-radius: 5px;
font-weight: 800;

line-height: 30px;
/* identical to box height, or 100% */

text-align: center;
text-transform: uppercase;
z-index : 1 !important;

/* #FFFFFF */

color: #FFFFFF;
}

#innovate #inline-portfolio{
    position: absolute;
    width : 100%;
    top : 100vh;
    background: #FFFFFF;
    margin-bottom : 0;

padding : 30px;
}
#innovate #inline-portfolio .list-inline-item{
    margin-left : 8%;
}

#our_process{

}
#our_process span{
    font-weight: bold;
font-size: 20px;
line-height: 30px;

text-align: center;
text-transform: uppercase;


color: #6DB847;
}
#process_one{
    position : relative;
    width : 401px;
    top : -40px;
    left : 40px;
    background: #020D2C;
    color : white;
    border : 1px solid #020D2C;
    border-radius : 4px;
}
#our_process i{
    color : green;
}
#our_process p{
    width: 624px;
height: 400px;


font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 50px;


color: #525252;
}
#startup_way {
    margin-left : 9%;
    margin-right : 9%;
}
#startup_way h4{
    text-align: center;
    font-size: 35px;
}

#your-benefits{
    background : #020D2C;
    text-align: center;
}
#your-benefits span{
    font-weight: 800;
font-size: 20px;
line-height: 30px;
text-align: center;
text-transform: uppercase;
color: #6DB847;
}
#your-benefits h1{
    font-weight: bold;
font-size: 40px;
line-height: 30px;
text-align: center;
color: #FFFFFF;
}

#your-benefits .card {
    font-weight: 500;
font-size: 24px;
line-height: 40px;
text-align: center;
color: #1F1F1F;
}
#your-benefits i{
    color : #6DB847;
}
#our-programmes{
    text-align : center;
}
#our-programmes span{
    font-weight: 800;
font-size: 20px;
line-height: 30px;
text-align: center;
text-transform: uppercase;
color: #6DB847;
}
#our-programmes h1{
    font-weight: bold;
font-size: 40px;
line-height: 30px;
text-align: center;
color: #1F1F1F;
}

#our-programmes div:first-child{
    padding-left : 20px;
    padding-right : 20px;
}
#our-programmes .card{
    background: #FFFFFF;
box-shadow: 0px 0px 20px rgba(2, 13, 44, 0.3);
border-radius: 10px;
}
#our-programmes hr{
    margin-left : 30px;
    margin-right : 30px;
    border: 1px solid #9E9E9E;
}
#our-programmes .row h2{
font-weight: bold;
font-size: 36px;
line-height: 40px;
width : 345px;
/* or 111% */

text-align: center;

/* #1F1F1F */

color: #1F1F1F;
}
#our-programmes .row p{
    font-weight: 600;
font-size: 20px;
line-height: 30px;

display: flex;
align-items: center;
text-align: center;
color: #525252;
width : 350px;
}

#comp{
    text-align: center
}
#comp span{
    font-weight: 800;
font-size: 20px;
line-height: 30px;
text-align: center;
text-transform: uppercase;
color: #6DB847;
}
#comp h1{
    font-weight: bold;
font-size: 40px;
line-height: 30px;
text-align: center;
color: #1F1F1F;
}
#comp li{
    text-align: left !important;
    margin-left :8%;
    
}

}
