.pad {
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: start;
}
.pads {
    font-size: 26px;
    text-align: start;
}
.roll {
    
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}
.carousel-indicators {
    filter: invert(1);
}
#gif{
    width: 100%;
    height: auto;
}
nav .nav-item{
    font-size: 10px;
}
nav .nav-link.active{
    padding-bottom: 0.8rem;
    border-radius: 5px;
    border-bottom: 7px solid rgb(255, 255, 255);
}
@media only screen and (max-width: 1024px){
    .roll {
        width: 100%;
    }
    
  
@media only screen and (width: 1024px){
   
     
.controls {
    display: none;
   }
  
}
@media only screen and (width: 768px){
 
.controls {
 display: none;
}